<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="ROOT_LOG_LEVEL" value="INFO"/>

    <!-- Logger for sensitive data -->

    <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
            <includeContext>false</includeContext>
        </encoder>
    </appender>

    <logger name="secureLogger" level="INFO" additivity="false">
        <appender-ref ref="team-logs"/>
    </logger>

    <!-- Spesiell håndtering av loggeren no.nav.log.LogFilter for å forhindre logging av isAlive-sjekker o.l. -->
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <!-- nais+local -->
        <appender-ref ref="stdout_json"/>
    </root>

    <logger name="secureLogger" level="INFO"/>
    <logger name="no.nav" level="WARN"/>
    <logger name="no.nav.familie" level="INFO"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/> <!-- NB ikke sett denne til info. Det vil logge soap kall -->
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR"/>
    <logger name="org.apache.wss4j.common.crypto.CryptoBase" level="ERROR"/>
    <logger name="net.shibboleth.utilities.java.support.primitive" level="ERROR"/> <!-- Kan fjernes når CXF oppgraderes til å bruke ny major-version (fra 9 -> 10) i net.shibboleth:shib-support:9.1.3 -->
    <logger name="org.apache.cxf.ws.addressing" level="ERROR" additivity="true"/> <!-- Ignorer WS Addressing warnings. Avhenger antakeligvis av en Spring-annotasjon som oppdrag må sette hos seg -->
    <logger name="org.hibernate.orm.connections.pooling" level="WARN"/> <!-- Unngå logging av JDBC URL -->
</configuration>
